.bg-index {
  background: url("djangoProject/static/img/gradient.jpg") no-repeat fixed;
  background-size: 100% auto;
}
.navbar a.nav-link {
  color: #FFFEF6 !important;
}
.bg-dark {
  background-color: lightpink !important;
}
.bg-pink {
  background-color: lightpink;
}
.ms-footer {
  background-color: lightpink;
}
.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}
.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}
.ms-footer-bottom a {
  color: #afd49a;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}
.img-card-200 {
  width: fit-content;
  max-height: 200px;
}
.img-card-400 {
  width: fit-content;
  max-height: 400px;
}