.bg-index {
  background-image: url(/djangoProject/static/img/gradient.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Georgia", serif;
}
.p-3 {
  font-family: "Georgia", serif;
}
.navbar a.nav-link {
  color: #FFFEF6 !important;
  font-family: "Georgia", serif;
}
.bg-dark {
  background-color: lightpink !important;
  font-family: "Georgia", serif;
}
.bg-pink {
  background-color: lightpink;
  font-family: "Georgia", serif;
}
.ms-footer {
  background-color: lightpink;
  font-family: "Georgia", serif;
}
.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
  font-family: "Georgia", serif;
}
.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
  font-family: "Georgia", serif;
}
.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
  font-family: "Georgia", serif;
}
.ms-footer-bottom a {
  color: #afd49a;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
  font-family: "Georgia", serif;
}
.img-card-200 {
  width: fit-content;
  max-height: 200px;
}
.img-card-400 {
  width: fit-content;
  max-height: 400px;
}